 <header class="header">
        <div class="left">
            <h2>mUsiC</h2>
        </div> 
        <div class="middle">
            <ul class="navbar">
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/about">About </a></li>
                <li><a href="#">Meditation</a></li>
                <li><a href="#">{{user_name}}</a></li>
            </ul>
        </div>
        <div class="right">
            <button class="btn">Call Us</button><button class="btn">Email Us</button>
        </div>
    </header>