{{>header}}
  <div class="hero_area">
    {{>navbar}}
     <section class="slider_section cmtner">
     <div class="cotainer123l">
         <form action="/login" method="post">
  <div class="">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="pass" class="form-control" id="exampleInputPassword1">
  </div>
   <div>
  <button type="submit" name="password" class="btn btn-primary fghrtl">Login</button>
  </div>
  <div>

<a class="caccount" href="/register">Create an account</a>
  </div>
</form>
     </div>
     <div>

     </div>
    </section>
  </div>
   {{>footer}}
</body>

</html>