    {{>header}}
  <div class="hero_area">
    {{>navbar}}
    <section class="slider_section cmtner">
     <div class="cotainer123">
         <form action="/register" method="post">
  <div class="">
    <label for="exampleInputPassword1" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="name">
  </div>
   <div class="">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="">
    <label for="exampleInputPassword1" class="form-label">Phone</label>
    <input type="text" name="phone" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="">
    <label for="exampleInputPassword1" class="form-label">Re-Type Password</label>
    <input type="password" name="confirm_password" class="form-control" id="exampleInputPassword1">
  </div>
  <button   type="submit" class="btn btn-primary fghrt">Register</button>
</form>
     </div>
    </section>
  </div>
   {{>footer}}
</body>
</html>