* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: #f4d4d4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(232, 217, 217), rgb(247, 196, 196));
}
.main-div{
  width: 30vw;
  padding: 25px;
  background-color: aliceblue;
  border-radius: 10px;

}
 
h1{
  text-align: center;
  text-transform: capitalize;
  font-size: 32px;
  padding-bottom: 32px;
}
 
