body {
  margin: 0;
  padding: 0;
  background-color: #eecd5f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centerdiv {
  height: 420px;
  width: 350px;
  background-color: rgb(233, 233, 233);
  margin-left: 520px;
  margin-top:120px ;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: white;
}

.heading{
 background-color: rgb(61, 53, 209);
 justify-content: center;
 align-items: center;
  text-align: center;
  margin-top: 55px;
  padding: 13px;
  font-size: 43px;
}

.buttons{
  display: grid;
}
.btn1 , .btn2{
  height: 43px;
  width: 110px;
  border: none;
  outline: none;
  margin-left: 45px;
  font-size: larger;
  border-radius: 5px;
}
.btn1{
  background-color: #00f642;
}
.btn1:hover{
  background-color: #00d60e;
  color: white;
}
.btn2:hover{
  background-color: #b20d0d;
  color: white;
}
.btn2{
 background-color: #ff3f3f;
}

 
