body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
div{
  height: 100vh;
  width: 100%;
  background-color: #1b659e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 

}
.container {
  text-align: center;
}

h1 {
  font-size: em;
  margin-bottom: 0px;
}

button {
  /* padding: 10px 20px; */
  font-size: 2em;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 180px;
  height: 70px;
  border-radius: 12px;
  border: 2px solid white;
}

button:hover {
  background-color: #2980b9;
}

